DATABASE_URL="YOUR_DATABASE_URL_HERE"


# NEXTAUTH CONFIG
NEXTAUTH_SECRET="YOUR_NEXTAUTH_SECRET_HERE"
NEXTAUTH_URL="http://localhost:3000"

# PIN HASHING CONFIG (use rounds between 10-15, higher is more secure but slower)
PIN_SALT_ROUNDS="YOUR_PIN_SALT_ROUNDS_HERE"


# APP CONFIG development / production
APP_NAME="IW Expense Tracker"
APP_ENV="development"
NEXT_PUBLIC_APP_ENV="development"

# CLOUDFLARE TURNSTILE CONFIG
NEXT_PUBLIC_TURNSTILE_SITE_KEY="YOUR_TURNSTILE_SITE_KEY_HERE"
TURNSTILE_SECRET_KEY="YOUR_TURNSTILE_SECRET_KEY_HERE"

# Feature flags — MUST be filled explicitly "true" or "false", do not leave blank
APP_ENABLE_REGISTER="false"
NEXT_PUBLIC_ENABLE_REGISTER="false"
# Only in Production
APP_ENABLE_CLOUDFLARE_TURNSTILE="true"
NEXT_PUBLIC_ENABLE_TURNSTILE="true"
